[submodule "Assets/JANOARG.Assets"]
	path = Assets/JANOARG.Assets
	url = https://github.com/FFF40/JANOARG.Assets.git
[submodule "Assets/JANOARG.Shared"]
	path = JANOARG.Shared
	url = https://github.com/FFF40/JANOARG.Shared.git
