/.vscode
/Logs
/Temp
/UserSettings
/Library
/Assets/Resources/Songs/*
/Assets/Resources/Songs~/

/Assets/JANOARG/Resources/Songs/*
/Assets/JANOARG/Resources/Songs~/

/Recordings
*.apk
*.zip
/Chartmaker
/Songs