/Assets/Resources/Songs/*
/Assets/Resources/Songs~/
/Recordings/
/Chartmaker/
/Songs/
/Renders/
/Build/
/Library/
/Logs/
/UserSettings/
/Temp/
/obj/

.vscode/
.vs/

*.apk
*.zip
*.DS_Store
*.Thumbs.db
*.csproj
*.sln


